:root {
  --primary: #0b8bc2;
  --primary-light:#657a84;
}

.header-bg{
  z-index: 99;
  background-image: url("../images/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 510px;
  background-size: 100%;
  overflow: hidden;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 0;
}

.header-text{
  padding-top:80px;
}

.header-text p{
  line-height: 1.6;
  margin : 0 auto 20px;
  width: 50%;
}

.highlights{
  padding:3rem 0;
}

.p-sec{
  padding:100px 0;
}

.featured-content-wrap{
  max-height: 410px;
  overflow-y: hidden;
}

.featured-content-wrap img{
  width:300px;
  height: 300px;
  border-radius: 50%;
}

.featured-content-wrap p:hover{
 color:var(--primary);
}



.header-overlay {
  border-image-source: linear-gradient(#00000080, #00000080);
  border-image-slice: fill 1;
}

.clr-white{
  color:#fff !important;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo:hover {
  color: #fff;
}

.btn-round {
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: #75d5fd;
  border-color: #75d5fd;
  color: #fff;
}

.clr-pale-white {
  color: #d4d4d4;
}

.btn-w-lg {
  width: 180px;
}
.header-nav li {
  display: inline-flex;
  /* padding: 12px 20px; */
}

.header-nav li a{
  transition: .35s ease;
  padding: 12px 24px;
}

.header-nav li a:hover {
  /* color: var(--primary) !important; */
  background-color: var(--primary-light);
  border-radius: 30px;
}

.bg-gray {
  background-color: #fbfbfb;
}
.text-tiny {
  font-size: 0.88rem;
}

.text-para {
  font-size: 0.95rem;
}

.blog-col-wrap {
  border-radius: 24px;
  padding: 0px !important;
  margin: 0 4px;
  display: inline-block;
  margin-bottom: 24px;
}


.blog-col-wrap img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  height: 312px;
  width:342px;
  object-fit: cover;
}

.blog-summary{
  padding:16px 8px;
}

.blog-summary p{
  padding:12px 0;
}

.blog-col-wrap:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
  background-color: #1a3139;
  color: #e3e2e2;
}

footer li{
  line-height: 2.4rem;
}

footer li a:hover{
  color:#06f84f;
}

footer h5{
  color:#fff;
  margin-bottom: 20px;
}

.social-links a{
  padding-right:12px;
  font-size: 1.2rem;
}

.social-links a:hover{
  color:#06f84f;
}

@media screen and (min-width: 900px) {
  .featured-content p {
    max-width: 60%;
    text-align: justify;
  }

  .featured-content-description{
    padding-left: 9rem;
  }
}

.about-banner{
  background-image: url('../images/about-banner.jpg');
  background-size: 100%;
  height: 180px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-banner{
  background-image: url('../images/blog-banner.PNG');
}

.blog-post-banner{
  background-image: url('../images/blog-post-banner.PNG');
}

.travel-guide-banner{
  background-image: url('../images/travel-guide-banner.PNG');
}

.about-banner .box{
  height: 100%;
}

.about-banner .box h2{
  height: 180px;
  line-height: 180px;
}

.about-description{
  max-width: 80%;
}

.about-description h5{
  color:var(--primary);
}

.about-description article{
  display: block;
  padding: 24px 0;
}

.about-description p{
  margin:24px 0;
  line-height: 1.6;
}

.about-points{
  color:var(--primary);
  padding-right: 4px;
}

.about-features li{
  padding:12px 0;
}

.has-blue-tick li:before{
  content: "\EB81";
  font-family: 'remixicon';
  padding-right: 12px;
  color:#06f84f;
}

.post-insights{
  border: 1px solid #ecebeb;
  border-left: none;
  border-right: none;
  padding: 20px 0;
}


.contact-links a{
  font-size: 24px !important;
}


.contact-col{
  border-right: 1px solid #ccc;
  max-width:48% !important;
}


@media screen and (max-width: 570px) {
  body{
    overflow-x: hidden !important;
    font-size: 15px;
  }
  header {
    background-size: cover;
    overflow-y: hidden;
  }

  .header-bg{
    height: 100vh;
    background-size: cover;
  }

  .header-overlay{
    border-image-source: none !important;
    border-image-slice: unset !important;
  }

  .header-top{
    display: none;
  }

  .header-text {
    align-self: center;
    padding-top:160px;
  }

  .header-text p {
    width: 85% !important;
  }

  .highlight-row{
    flex-direction: column;
  }

  .highlight-content{
    padding:20px 0;
    border-bottom:1px solid #eee;
  }

  .about-text{
    text-align: justify;
  }

  .about-image img{
    width:320px;
    height:290px;
    object-fit: cover;
    border-radius: 12px;
  }

  .about-banner{
    background-size: cover !important;
  }

  .blog-col-wrap img {
    width:290px;
    height: 300px;
  }

  .featured-content-wrap{
    max-height: 100%;
    align-items: center;
  }

  .featured-content-wrap>div{
    margin:14px 0;
  }

  .featured-content-wrap img{
    width: 250px;
    height: 250px;
  }

  footer h5{
    margin-bottom: 10px !important;
  }

  footer .box .flx .flx-sm-100{
    margin-bottom: 24px;
  }

  .contact-col{
    border-bottom:1px solid #ccc;
    border-right: none;
    max-width: 90% !important;
  }
}